@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #490023;
}

#about-area{
    width: 900px;
    position: relative;
    padding: 100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    background: rgb(197, 197, 197);
}

.desktopTitle{
    display: block;
}
  
.mobileTitle{
    display: none;
}
  
@media(max-width: 480px) {
    .desktopTitle {
      display: none;
    }
    .mobileTitle {
      display: block;
    }
}

.desktopPergunta{
    display: block;
}

.mobilePergunta{
    display: none;
}

.desktopPerguntaTexto{
    display: block;
}

.mobilePerguntaTexto{
    display: none;
}

@media(max-width: 588px){
    .desktopPergunta {
        display: none;
      }

      .mobilePergunta {
        display: block;
      }

      .desktopPerguntaTexto{
        display: none;
    }
    
    .mobilePerguntaTexto{
        display: block;
    }
}

div .imgFaq{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 4px;
}

.imgFaqBloco{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 5px 0 40px 0;
    font-size: 40px;
    background: #60bfd6;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.main-title::after {
    content: '';
    width: 140px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.style-color{
    color: white;
}

.accordion{
    max-width: 800px;
}

.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background: #2694af;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}

.accordion .contentBx.active .label{
    background: #0f3b46;
}

.accordion .contentBx:hover .label{
    background: #0f3b46;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before{
    content: '-';
}

.accordion .contentBx .content{
    position: relative;
    background: white;
    border-radius: 4px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;
}